{% extends 'base.html.twig' %}
{# <!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Symfony Banque</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="{{asset('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')}}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
	</head>
    

	<bo >

     <ul class="nav">
        
        <li class="nav-item">
            <a class="nav-link" href="">Liste des Clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Liste des Comptes</a>
        </li>
  
    </ul> #}
		
{% block content %}

<div class="col-md-6 col-xs-12 " >
			<div class="panel panel-info">
				<div class="panel-heading">Formulaires de gestion des Clients</div>
				<div class="panel-body">

                   {{ form_start(form, {'action':path('create-client'), 'method':'POST', 'attr':{'class':'col'}}  )}}
					<div> {{form_row(form.nom)}}</div>
					<div > {{form_row(form.prenom)}}</div>
					<div > {{form_row(form.email)}}</div>
					<div > {{form_row(form.telephone)}}</div>
					 
					 

					<div >
                                    <button class="btn btn-success">Valider</button>
                                    <button type="reset" class="btn btn-danger">Annuler</button>
                                </div>
                    {{form_end(form)}}
				</div>
			</div>
		</div>
 {% endblock %}
       
